
Glitch defs:
  cutall: 0x46
  cinquedia: 0x47
  alucard sword: 0x5E
  axe: 0x74
  battle axe: 0x75
  bhuj: 0x76
  great axe: 0x77
  golden axe: 0x78
  
  cutallsuper: cutall | cinquedia | alucard sword
  axesuper: axe | battle axe | bhuj | great axe | golden axe
  hwarpseal: cutallsuper & seal
  hwarpsucc: cutallsuper & succubus
  hwarp: hwarpseal | hwarpsucc
  vwarpseal: axesuper & seal
  vwarpsucc: axesuper & succubus
  vwarp: vwarpseal | vwarpsucc
Defs:
  malphas: 0x143
  hippogryph: 0x146
  bat company: 0x104
  bat form: 0xFC
  puppet master: 0xCE
  flying armor: 0x103
  black panther: 0x105
  succubus: 0xEE
  rahab: 0x145
  paranoia: 0xD0
  balore: 0x142
  zephyr: 0xCF
  seal 1: 0x3D
  seal 2: 0x3E
  seal 3: 0x3F
  seal 4: 0x40
  seal 5: 0x41
  tower key: 0x39
  mina talisman item: 0xC6
  axearmor: 0xD4
  killer clown: 0xE3
  ukoback: 0xEC
  skeleton: 0xD2
  skeleton ape: 0x134
  bone ark: 0x119
  
  height: puppet master | medium height
  medium height: malphas | vwarpsucc | big height
  big height: hippogryph | bat mode
  distance: flying armor | black panther | big height
  bat mode: bat company | bat form
  small: bat mode | puppet master
  seal: seal 1 | seal 2 | seal 3 | seal 4 | seal 5
  mina talisman: mina talisman item | towerguesthouse # either get the talisman from the randomizer or from the normal event
  
  bossarmor: seal 1 | hwarp
  undervillage: lowerwizardry & height | wizardry & cutallsuper
  villagewatergate: bossarmor & distance
  
  garden: medium height | wizardry & balore | lowergarden & rahab
  midgarden: garden & height | garden & vwarpseal
  bossdario: midgarden & seal 3 | midgarden & hwarp
  uppergarden: bossdario | towerguesthouse | garden & vwarp | clocktower
  upperrightgarden: uppergarden & cutallsuper | garden & vwarp | clocktower
  lowergarden: garden & rahab | hell
  
  puppetguesthouse: towerguesthouse & height
  bosspuppet: puppetguesthouse & medium height & seal 3 | puppetguesthouse & medium height & hwarp
  towerguesthouse: garden & small | uppergarden | pinnacle
  uppertowerguesthouse: pinnacle | towerguesthouse & vwarp
  bossparanoia: uppertowerguesthouse & axearmor & killer clown & ukoback
  
  wizardry: villagewatergate | garden | hell & big height
  lowerwizardry: hell & height & puppet master & skeleton ape & rahab | hell & height & bone ark & rahab | wizardry & cutallsuper
  bossbalore: wizardry
  
  chapel: garden | condemntower | hell & rahab
  bossdmitrii: chapel & seal 2 | chapel & hwarp
  bossmalphas: bossdmitrii & seal 2
  
  condemntower: chapel & cutallsuper | chapel & small | clocktower & hwarp
  bossgergoth: condemntower & height
  
  hellintro: chapel & small | chapel & hwarp
  hell: wizardry & cutallsuper | garden & rahab | hellintro & rahab & bossrahab
  bossrahab: hellintro & seal 3 | hellintro & hwarp
  
  ruins: hell & distance & zephyr | hell & height & zephyr | hell & cutallsuper
  bossbatcompany: ruins & seal 4 | ruins & hwarp
  
  clocktower: condemntower & height & tower key | upperrightgarden & height | pinnacle & big height
  bosszephyr: clocktower & height & seal 4 | clocktower & height & hwarp
  
  pinnacle: uppertowerguesthouse | bosszephyr & bat mode | clocktower & hwarp & bat mode
  bossaguni: pinnacle & big height & seal 4 & paranoia | pinnacle & big height & hwarp & paranoia | pinnacle & height & vwarpseal & seal 4 & paranoia | pinnacle & height & vwarpseal & hwarp & paranoia
  
  mine: garden & seal 5 & mina talisman & condemntower | condemntower & hwarpseal
  bossdeath: mine & height & seal 5 | mine & height & hwarp
  
  abyss: bossdeath
  bossabaddon: abyss & big height | abyss & medium height & hwarp
  
  beat game: bossabaddon

Rooms:
#Dracula's Castle:
#The Lost Village:
  00-00-00:
    room: big height | malphas & puppet master
    02 (Pumpkin Pie): 
  00-00-02:
    room: bossarmor
    05 (Mace): 
    06 (Money): 
  00-00-06:
    room: undervillage & height
    01 (Caviar): 
  00-00-07: 
    04 (High Potion): height
  00-00-08:
    room: bossarmor
    02 (Claymore): 
  00-00-09:
    room: bossarmor
    07 (Money): 
  00-00-0A:
    room: bossarmor
  00-00-0B:
    room: bossarmor
    02 (Flying Armor) (Enemy): 
  00-00-0C:
    room: bossarmor
    00 (Potion): 
  00-00-0D:
    room: undervillage
    00 (Neck Warmer): height
  00-00-0E:
    04 (Potion): 
    05 (Short Sword): 
  00-00-11:
    room: bossarmor
    02 (Money): 
    03 (Corn Soup): 
  00-00-13:
    room: bossarmor
    05 (Cape): 
    06 (Tear Of Blood): paranoia | hwarp
  00-00-15: # drawbridge
    0A (Gold Stud): villagewatergate & big height | rahab & big height
    0B (Crimson Cloak): height
  00-00-16:
    room: height | garden
    00 (Heart Pendant): big height
  00-00-19:
    room: bossarmor
    03 (Spear): 
#Demon Guest House:
  00-01-00:
    room: puppetguesthouse & big height
    00 (War Fatigues): balore
    01 (UMA News 2-4): balore
  00-01-05:
    room: bossparanoia
    00 (Olrox's Suit): 
  00-01-06:
    room: bosspuppet
    01 (Puppet Master) (Enemy): 
  00-01-07:
    room: puppetguesthouse
    00 (Magic Seal 3): 
  00-01-0A:
    room: towerguesthouse
    01 (Cestus): 
  00-01-0E:
    room: towerguesthouse
    01 (Cutall): 
  00-01-11:
    room: towerguesthouse & height
    01 (Turquoise Stud): 
  00-01-12:
    room: towerguesthouse & height
    01 (Justaucorps): 
  00-01-15:
    room: towerguesthouse & height
    01 (Great Sword): 
  00-01-1A:
    room: towerguesthouse & height
    02 (Ring Mail): 
    03 (Dracula's Tunic): paranoia
  00-01-1C:
    room: bossparanoia
    00 (Paranoia) (Enemy): 
  00-01-20:
    room: bossparanoia
    06 (Mana Prism): paranoia
  00-01-23:
    room: puppetguesthouse
    00 (UMA News 2-2): 
  00-01-26:
    room: puppetguesthouse
    00 (High Potion): 
  00-01-2F:
    room: garden & height
    00 (High Mind Up): 
  00-01-34:
    room: towerguesthouse
    00 (Money): 
  00-01-35:
    room: towerguesthouse
    00 (UMA News 1-2): 
  00-01-38:
    room: towerguesthouse
    00 (Money): 
  00-01-39:
    room: towerguesthouse & big height
    00 (Rune Ring): 
#Wizardry Lab:
  00-02-00:
    room: wizardry
    00 (UMA News 4): cutallsuper | undervillage
    01 (Scarf): 
  00-02-06:
    room: bossbalore
    00 (Balore) (Enemy): 
  00-02-07:
    room: wizardry
    01 (Mind Up): 
  00-02-0B:
    room: wizardry
    00 (Blunt Sword): 
  00-02-10:
    room: wizardry & cutallsuper | hell & big height
    00 (Aquarius): 
  00-02-12:
    room: wizardry & balore
    02 (Combat Knife): 
    03 (Rosary): paranoia
  00-02-14:
    room: wizardry
    00 (Foie Gras): balore | small | vwarp
  00-02-16:
    room: lowerwizardry & rahab
    00 (Gold Ring): 
  00-02-1C:
    room: lowerwizardry & rahab
    00 (Bloody Stud): 
    01 (Super Potion): 
  00-02-1E:
    room: lowerwizardry & rahab
    00 (Serenity Robe): 
#Garden of Madness:
  00-03-00:
    room: garden
    00 (Fleuret): 
    01 (Breastplate): 
  00-03-01:
    room: midgarden
    00 (Elfin Robe): 
  00-03-03:
    room: garden
    01 (Magic Seal 2): 
  00-03-04:
    room: midgarden & big height
    00 (Ninja Suit): 
  00-03-0B:
    room: bossdario
    05 (Dario) (Enemy): 
  00-03-16:
    room: upperrightgarden | garden & vwarp
    00 (Handgun): 
  00-03-18:
    room: lowergarden
    00 (Small Sword): 
  00-03-1A:
    room: garden
    00 (Three 7s): 
  00-03-24:
    room: garden
    08 (Doppelganger): 
#The Dark Chapel:
  00-04-00:
    room: chapel
    00 (Halberd): skeleton
  00-04-01:
    room: chapel
    00 (Power Belt): height
  00-04-03:
    room: chapel
    02 (Long Sword): height
  00-04-04:
    room: chapel
    00 (Money): 
  00-04-05:
    room: chapel
    00 (Traveler Cape): 
  00-04-0F: 
    room: bossmalphas
    01 (Malphas) (Enemy): 
  00-04-10: 
    room: bossdmitrii
    05 (Dmitrii) (Enemy): 
  00-04-11:
    room: chapel
    02 (Red Scarf): 
    03 (Megingiord): paranoia
  00-04-12:
    room: chapel
    01 (High Mind Up): height | black panther
    02 (Anti-Venom): 
  00-04-13:
    room: bossdmitrii
    00 (Hoop Earring): medium height
  00-04-14:
    room: chapel
    00 (Potion): 
  00-04-15:
    room: condemntower
    00 (UMA News 3-2): height | chapel & small
    01 (Kotetsu): big height | malphas & puppet master
    02 (High Potion): big height
#Condemned Tower & Mine of Judgment:
  00-05-02:
    room: bossgergoth & big height | bossgergoth & malphas & flying armor | bossgergoth & puppet master & flying armor | bossgergoth & malphas & puppet master | bossgergoth & black panther
    00 (Tower Key): 
  00-05-03:
    room: condemntower & height
    00 (UMA News 2-3): 
  00-05-04:
    room: condemntower & height
    00 (Estoc): 
  00-05-06:
    room: condemntower
    02 (Tasty Meat): big height | hwarpseal
  00-05-07:
    room: bossgergoth
    00 (Gergoth) (Enemy): 
  00-05-0B:
    room: condemntower
    01 (Silver Stud): height
    02 (Mind Up): 
  00-05-1B:
    room: bossdeath
    02 (Death) (Enemy): 
#Subterranean Hell:
  00-06-02:
    room: hell & medium height
    00 (Eversing): 
  00-06-04:
    room: hell
    00 (Mushroom): height
    01 (Amanita): height
    02 (Mushroom): height
  00-06-09:
    room: hell
    00 (Mushroom): 
  00-06-0B:
    room: hell
    00 (Money): 
  00-06-0D:
    room: hell
    00 (UMA News 1-3): 
  00-06-16:
    room: bossrahab
    03 (Rahab) (Enemy): 
  00-06-17:
    room: hell & rahab
    00 (Chain Mail): 
    01 (Money): 
    02 (High Mind Up): 
    03 (Rusty Food Tin): 
#Silenced Ruins:
  00-07-05:
    room: ruins & medium height
    03 (Mana Prism): 
    04 (Super Potion): paranoia
  00-07-0C:
    room: ruins
    05 (Rare Ring): balore | hwarpsucc
  00-07-0E:
    room: bossbatcompany
    00 (Bat Company) (Enemy): 
#Cursed Clock Tower:
  00-08-00:
    room: clocktower
    00 (Army Jacket): 
  00-08-14:
    room: bosszephyr
    00 (Zephyr) (Enemy): 
  00-08-19:
    room: clocktower & height
    00 (Magic Seal 4): 
  00-08-1A:
    room: clocktower & height
    02 (Scale Mail): 
    03 (Platinum Stud): paranoia
  00-08-1C:
    room: clocktower & height
    00 (UMA News 3-3): 
  00-08-1F:
    room: clocktower
    00 (Shaman Ring): 
#The Pinnacle:
  00-09-00:
    room: bossaguni
    00 (Magic Seal 5): 
  00-09-01:
    room: bossaguni
    06 (Dario) (Enemy): # actually for aguni but he's not in the room. will have to hardcode this.
  00-09-02:
    room: pinnacle & big height | pinnacle & vwarp
    00 (Satan's Ring): 
    01 (Fragarach): 
  00-09-04:
    room: pinnacle & big height | pinnacle & height & hwarp
    02 (Durandal): 
  00-09-0A:
    room: pinnacle & height
    02 (Truffle): 
  00-09-0E:
    room: pinnacle & height
    00 (Mana Prism): 
  00-09-11:
    room: pinnacle & height
    03 (Lance): 
#The Abyss:
  00-0B-06:
    room: abyss
    01 (Hippogryph): 
  00-0B-0B:
    room: abyss & medium height
    01 (Magus Ring): height
  00-0B-13:
    room: bossabaddon
    00 (Abaddon) (Enemy): 
