
Glitch defs:
  # none
Defs:
  magnes: 0x38
  double jump: 0x70
  serpent scale: 0x71
  paries: 0x39
  volaticus: 0x3A
  rapidus fio: 0x3B
  dextro custos: 0x2F
  sinestro custos: 0x30
  arma custos: 0x46
  redire glyph: 0x1C
  dominus hatred: 0x31
  dominus anger: 0x32
  dominus agony: 0x4E
  globus: 0x2E
  
  medium height: double jump | big height
  big height: volaticus | redire
  distance: rapidus fio | redire
  redire: redire glyph & magnes
  
  ecclesia: true
  
  monastery: true
  monasterymid: monastery & magnes | monastery & big height
  bossarthro: monasterymid
  
  wygol: bossarthro | nonlinear
  villagernikolai: wygol
  
  ruvas: wygol | nonlinear
  
  kalidus: ruvas | nonlinear
  villagerjacob: kalidus
  
  minera: kalidus | nonlinear
  villagerabram: minera
  villageraeon: minera & medium height
  mineraend: minera & magnes | minera & big height | minera & double jump # double jump is enough because you can kickbounce off the breakable wall to get an effective quadruple jump.
  
  lighthouse: mineraend | nonlinear
  bossbrachyura: lighthouse & magnes | lighthouse & medium height
  villagereugen: bossbrachyura
  
  kaliduslower: bossbrachyura & serpent scale
  villagermonica: kaliduslower
  
  tymeo: kaliduslower | nonlinear
  tymeomid: tymeo & magnes | tymeo & big height # to get past the spike room
  villagerlaura: tymeomid
  tymeoeast: tymeomid & medium height | tymeomid & distance
  villagermarcel: tymeoeast
  
  mistyroad: tymeomid | nonlinear
  
  skelecave: mistyroad | nonlinear
  villagergeorge: skelecave
  
  somnus: skelecave | nonlinear
  somnusmid: somnus & serpent scale
  villagerserge: somnusmid
  villageranna: somnusmid
  
  giantdwelling: somnusmid | nonlinear
  giantdwellingmid: giantdwelling & medium height
  villagerdaniela: giantdwellingmid
  
  tristis: giantdwellingmid | nonlinear
  tristisafterwaterfall: tristis & medium height & magnes
  villageririna: tristisafterwaterfall
  
  oblivionridge: tristisafterwaterfall | nonlinear
  
  argilaswamp: oblivionridge | nonlinear
  
  mysterymanor: argilaswamp | nonlinear
  mysterymanormid: mysterymanor & medium height
  bossalbus: mysterymanormid
  
  bossbarlowe: ecclesia & bossalbus & villagernikolai & villagerjacob & villagerabram & villageraeon & villagereugen & villagermonica & villagerlaura & villagermarcel & villagergeorge & villagerserge & villageranna & villagerdaniela & villageririna
  
  trainchamber: backexit | nonlinear
  trainchamberend: magnes
  
  largecavern: backexit | nonlinear
  
  # to unlock the castle you must have medium height and serpect scale already.
  entrance: bossbarlowe
  entranceeast: entrance & paries # TODO nonlinear entrance
  library: entrance | libraryeast & paries
  libraryeast: library & paries | forsakencloister | finalapproachwest
  labyrinth: entranceeast | barracks
  backexit: labyrinth & paries
  barracks: labyrinth | mechtower # TODO nonlinear entranceeast
  mechtower: barracks | mechtowerupper
  mechtowerupper: mechtower & magnes | mechtower & volaticus | forsakencloistereast # TODO nonlinear
  bossdeath: mechtowerupper & magnes | mechtowerupper & volaticus
  armsdepot: mechtower
  forsakencloister: libraryeast | mechtower
  forsakencloistereast: mechtower # TODO nonlinear forsakencloister
  forsakencloisterupper: forsakencloister & dextro custos & sinestro custos & arma custos | finalapproach
  finalapproach: forsakencloisterupper # TODO nonlinear libraryeast & big height
  finalapproachwest: finalapproach & big height
  throne room: finalapproach & big height
  bossdracula: throne room & dominus hatred & dominus anger & dominus agony
  
  beat game: bossdracula
  

Rooms:
#Dracula's Castle:
#Castle Entrance:
  00-00-01:
    room: entrance
    00 (HEART Max Up): 
  00-00-03:
    room: entrance
    01 (Tasty Meat) (Hidden): 
  00-00-04:
    room: entrance
    01 (White Drops): 
  00-00-09:
    room: entranceeast
    00 (HP Max up): 
  00-01-05:
    room: entranceeast
    00 (Valkyrie Greaves): 
#Underground Labyrinth:
  00-02-02:
    room: labyrinth
    00 (Vol Ignis) (Event): 
  00-02-06:
    room: labyrinth
    00 (Mercury Boots): 
  00-02-08:
    room: labyrinth
    00 (MP Max up): 
  00-02-11:
    room: labyrinth
    06 (White Drops) (Hidden): 
  00-02-14:
    room: labyrinth
    04 (Lapiste) (Event): paries
    05 (Star Ring): 
  00-02-17:
    room: labyrinth
    00 (HEART Max Up): 
  00-02-18:
    room: labyrinth
    00 (Super Potion): 
  00-02-19:
    room: labyrinth & paries
    06 (Felicem Fio): 
  00-02-1B:
    room: labyrinth & paries
    01 (Rapidus Fio): 
#Library:
  00-03-02:
    room: library
    00 (HP Max up): 
  00-03-07:
    room: library
    00 (MP Max up): 
  00-03-09:
    room: library
    02 (Wallman) (Enemy): 
    05 (Melio Confodere): libraryeast
  00-04-02:
    room: libraryeast
    00 (Refectio): 
    01 (Hanged Man Ring): 
  00-04-07:
    room: libraryeast
    03 (Cream Puff) (Hidden): 
  00-04-08:
    room: libraryeast
    00 (Cerberus) (Event): 
    01 (Cerberus) (Event): 
    02 (Cerberus) (Event): 
#Barracks:
  00-05-00:
    room: barracks
    00 (HEART Max Up): 
  00-05-04:
    room: barracks
    02 (Melio Hasta): 
  00-05-07:
    room: barracks
    01 (Money): 
    02 (Money): 
  00-05-08:
    room: barracks
    02 (Green Drops): 
    03 (Money): 
  00-05-09:
    room: barracks
    02 (Green Drops) (Hidden): 
  00-05-0A:
    room: barracks
    00 (MP Max up): 
  00-05-0C:
    room: barracks
    01 (Red Drops): 
  00-05-0D:
    room: barracks
    00 (Moon Ring): 
  00-05-0E:
    room: barracks
    00 (Valkyrie Mail): 
  00-05-0F:
    room: barracks
    00 (HP Max up): 
#Mechanical Tower:
  00-06-09:
    room: mechtowerupper
    00 (Valkyrie Mask): 
  00-06-0E:
    room: mechtowerupper
    00 (Heart Cuirass): 
    03 (HP Max up) (Hidden): 
  00-06-15:
    room: mechtowerupper
    01 (Cerberus) (Event): 
    02 (Cerberus) (Event): 
    03 (Cerberus) (Event): 
  00-06-1B:
    room: mechtowerupper
    00 (Death Ring): 
  00-06-1C:
    room: mechtower & magnes | mechtower & volaticus | mechtower & distance
    01 (Morbus) (Event): 
  00-07-02:
    room: mechtower
    00 (Vis Fio): 
#Arms Depot:
  00-08-00:
    room: armsdepot
    00 (HP Max up): 
  00-08-05:
    room: armsdepot
    00 (Melio Falcis): 
  00-08-07:
    room: armsdepot
    00 (Melio Culter): 
  00-08-08:
    room: armsdepot
    00 (Melio Scutum): 
  00-08-0C:
    room: armsdepot
    02 (Mint Sundae) (Hidden): 
  00-08-0F:
    room: armsdepot
    00 (Cerberus) (Event): 
    01 (Cerberus) (Event): 
    02 (Cerberus) (Event): 
#Forsaken Cloister:
  00-09-01:
    room: forsakencloisterupper
    02 (Eisbein) (Hidden): 
#Final Approach:
  00-0A-02:
    room: finalapproach & big height
    00 (Sun Ring): 
    01 (Blue Drops): 
    02 (MP Max up): 
    03 (HEART Max Up): 
  00-0A-03:
    room: finalapproach & big height # need big height to get out of the pit
    00 (Volaticus): 
    02 (MP Max up): 
  00-0A-08:
    room: finalapproach
    00 (HEART Max Up): 
  00-0A-0B:
    room: finalapproach & big height
    00 (Gold Ore): 
    01 (Diamond): 
    02 (Diamond): 
    03 (Onyx): 
    04 (World Ring): 
  00-0A-0C:
    room: finalapproach
    02 (Judgement Ring) (Hidden): 
  00-0B-02:
    room: finalapproach
    07 (Super Potion): paries
    08 (MP Max up): paries
#Ecclesia:
  02-00-00:
    room: ecclesia
    04 (Record 5): 
  02-00-04:
    room: ecclesia
    05 (Record 1): 
    #07 (Glyph Sleeve): # this only appears on hard mode
#Training Chamber:
  03-00-01:
    room: trainchamber
    01 (Redire): trainchamberend
#Ruvas Forest:
  04-00-01:
    room: ruvas
    00 (Macir): 
#Kalidus Channel:
  06-00-01:
    room: kalidus
    00 (HEART Max Up): serpent scale
  06-00-02:
    room: kalidus
    00 (Chamomile): serpent scale
  06-00-04:
    room: kalidus
    01 (Magical Ticket): 
  06-00-07:
    room: kalidus
    00 (MP Max up): serpent scale
    04 (Twinbee) (Hidden): 
  06-00-09:
    room: kalidus
    00 (HP Max up): serpent scale
  06-00-0D:
    room: kaliduslower
    01 (Fortis Fio): 
  06-00-10:
    room: kaliduslower
    00 (Scutum): 
  06-00-15:
    room: kaliduslower
    00 (Super Potion): 
    01 (MP Max up): 
    02 (HEART Max Up): 
  06-00-17:
    room: kaliduslower
    00 (Sapphire): 
  06-00-18:
    room: kaliduslower
    00 (HP Max up): 
  06-00-1A:
    room: kaliduslower
    00 (HEART Max Up): 
    02 (Anti-Venom): 
  06-01-01:
    room: kaliduslower
    00 (Iron Ore): 
  06-01-04:
    room: kaliduslower
    01 (Magician Ring): 
    02 (Emerald): 
    03 (MP Max up): 
    04 (Money): 
    05 (Money): 
    06 (Money): 
  06-01-07:
    room: kaliduslower
    00 (Potion): 
#Somnus Reef:
  07-00-04:
    room: somnusmid
    02 (Money): 
  07-00-07:
    room: somnusmid
    00 (Reinforced Suit): 
  07-00-09:
    room: somnusmid
    01 (Vol Arcus): 
    02 (MP Max up): 
  07-00-0A:
    room: somnusmid
    01 (Vic Viper) (Hidden): 
  07-00-0D:
    room: somnusmid
    01 (Vol Ascia): 
  07-00-12:
    room: somnusmid
    01 (HEART Max Up): 
  07-00-14:
    room: somnusmid
    00 (HP Max up): 
#Minera Prison Island:
  08-00-05:
    room: minera
    01 (Money): 
  08-00-07:
    room: minera
    00 (MP Max up): 
    02 (Cabriolet): 
  08-00-09:
    room: minera
    00 (Priestess Ring): 
  08-01-01:
    room: minera & medium height
    00 (Tower Ring): 
  08-01-02:
    room: minera
    00 (Anti-Venom): 
  08-01-05:
    room: minera
    00 (HP Max up): 
  08-01-07:
    room: minera
    00 (Dominus Hatred) (Event): 
  08-01-08:
    room: minera
    00 (Money): 
  08-02-00:
    room: minera
    00 (HEART Max Up): mineraend
    02 (Konami Man) (Hidden): mineraend
  08-02-03:
    room: mineraend
    00 (Vol Fulgur) (Event): 
  08-02-05:
    room: mineraend
    00 (Falcis): 
  08-02-07:
    room: mineraend
    02 (Glyph Sleeve): 
#Lighthouse:
  09-00-03:
    room: bossbrachyura
    00 (Luminatio) (Event): 
  09-00-07:
    room: bossbrachyura
    01 (Serpent Scale): 
#Tymeo Mountains:
  0A-00-00:
    room: tymeo
    02 (Blue Drops): 
  0A-00-09:
    room: tymeomid
    00 (Fides Fio): 
    01 (MP Max up): 
  0A-00-0C:
    room: tymeoeast
    00 (Crimson Mask): paries
    01 (Moonwalkers): paries
    02 (Devil Ring): paries
  0A-00-10:
    room: tymeoeast
    00 (HEART Max Up): 
  0A-00-11:
    room: tymeoeast
    00 (Emperor Ring): 
  0A-01-01:
    room: tymeo
    01 (Mushroom): 
  0A-01-03:
    room: tymeo
    00 (Empress Ring): 
  0A-01-08:
    room: tymeoeast
    00 (HP Max up): 
    03 (Ruby) (Hidden): 
  0A-01-08:
    room: tymeoeast
    00 (Pneuma) (Event): 
#Tristis Pass:
  0B-00-0D:
    room: tristisafterwaterfall
    00 (Vol Hasta): 
    01 (Chariot Ring): 
  0B-00-0F:
    room: tristisafterwaterfall
    00 (Inire Pecunia): 
    01 (Body Suit): 
    02 (MP Max up): 
  0B-01-01:
    room: tristisafterwaterfall
    01 (Vol Grando) (Event): 
  0B-01-02:
    room: tristisafterwaterfall
    00 (Lovers Ring): 
    01 (HEART Max Up): 
    03 (Amanita): 
  0B-01-05:
    room: tristisafterwaterfall
    00 (HP Max up): 
  0B-01-07:
    room: tristisafterwaterfall
    01 (Onyx) (Hidden): 
#Giant's Dwelling:
  0D-00-03:
    room: giantdwelling
    01 (Temperance Ring) (Hidden): 
  0D-00-04:
    room: giantdwelling
    00 (Caprine): giantdwellingmid
  0D-00-06:
    room: giantdwellingmid
    00 (Vol Secare): 
  0D-00-08:
    room: giantdwellingmid
    00 (Dominus Anger) (Event): 
  0D-00-0C:
    room: giantdwellingmid
    00 (Black Drops): 
#Mystery Manor:
  0E-00-00:
    room: mysterymanormid
    00 (Vol Umbra) (Event): 
  0E-00-02:
    room: mysterymanormid
    01 (Schnitzel) (Hidden): 
    02 (Money): 
  0E-00-07:
    room: mysterymanormid
    00 (Money): 
  0E-00-08:
    room: mysterymanormid
    00 (Gold Ore): 
  0E-00-09:
    room: mysterymanormid
    06 (Dominus Agony) (Event): 
#Misty Forest Road:
  0F-00-02:
    room: mistyroad
    01 (Rue): distance | big height
  0F-00-04:
    room: mistyroad & paries
    00 (Melio Arcus): 
    01 (Hierophant Ring): 
    03 (White Drops) (Hidden): 
  0F-00-05:
    room: mistyroad
    00 (Vol Macir): 
    02 (Sage): distance | big height
#Oblivion Ridge:
  10-00-00:
    room: oblivionridge
    02 (Hermit Ring) (Hidden): 
  10-01-01:
    room: oblivionridge
    02 (Diamond) (Hidden): 
    03 (Chamomile): distance | big height
  10-01-03:
    room: oblivionridge
    01 (Sapiens Fio): distance | big height
#Skeleton Cave:
  11-00-03:
    room: skelecave
    00 (HP Max up): medium height
  11-00-05:
    room: skelecave
    01 (Black Drops) (Hidden): 
    02 (MP Max up): 
  11-00-08:
    room: skelecave
    00 (Ordinary Rock): 
  11-00-09:
    room: skelecave
    00 (HEART Max Up): medium height
#Monastery:
  12-00-03:
    room: monastery
    00 (Sandals): 
  12-00-05:
    room: monastery
    00 (Cotton Hat): monasterymid
    05 (Magnes) (Event): 
  12-00-07:
    room: monasterymid
    00 (Fool Ring): medium height | distance
    01 (HP Max up): 
  12-00-08:
    room: monasterymid
    00 (Cubus) (Event): globus | redire glyph # TODO there are other ways like ignis union, melio ascia, falcis union, lapiste union
  12-00-09:
    room: monasterymid
    00 (Culter): 
  12-00-0A:
    room: monasterymid
    00 (Book of Spirits): 
  12-00-0B:
    room: monasterymid
    00 (HEART Max Up): 
  12-00-0D:
    room: monasterymid
    01 (Tasty Meat) (Hidden): 
    02 (Red Drops) (Hidden): 
    04 (Money): 
  12-00-10:
    room: monasterymid
    00 (MP Max up): 
