
Glitch defs:
  katar: 0x78
  cinquedia: 0x79
  axe: 0x98
  battle axe: 0x9A
  bhuj: 0x9C
  great axe: 0x9D
  voulge: 0x9E
  bullova: 0x9F
  golden axe: 0xA0
  critical art: 0x1B8
  
  jumpglitch: callswitch
  quadjumpglitch: jumpglitch & double jump
  
  telesuper: katar & critical art | cinquedia & critical art | axe & critical art | battle axe & critical art | bhuj & critical art | great axe & critical art | voulge & critical art | bullova & critical art | golden axe & critical art
Defs:
  change cube: 0x1AC
  call cube: 0x1AD
  skill cube: 0x1AE
  lizard tail: 0x1B2
  acrobat cube: 0x1B0
  double jump: 0x1B3
  toad morph: 0x177
  owl morph: 0x178
  superjump: 0x1B4
  push cube: 0x1B1
  strength cube: 0x1B5
  sanctuary: 0x179
  cog: 0x4E
  puppet master: 0x151
  
  callswitch: change cube & call cube
  slide: lizard tail | frog | owl
  shoulderjump: acrobat cube & call cube
  partnerpush: push cube & call cube
  canusespells: change cube | skill cube
  frog: toad morph & canusespells
  owl: owl morph & canusespells
  small: frog | owl | puppet master
  purify: sanctuary & canusespells
  
  small height: puppet master | height
  height: shoulderjump | medium height
  medium height: double jump | jumpglitch | quad jump height
  medium height 2: double jump & shoulderjump | quad jump height
  quad jump height: quadjumpglitch | big height
  big height: owl | superjump
  
  entrance: call cube
  midentrance: entrance & callswitch | entrance & small height
  upperentrance: midentrance & medium height 2 | midentrance & jumpglitch | greatstairway & height
  bossbehemoth: entrance & height
  
  wind: midentrance
  
  cityofhaze: midentrance & slide
  midcityofhaze: cityofhaze & call cube & change cube
  endcityofhaze: bossdullahan
  bossdullahan: midcityofhaze  
  buriedchamber: bossbehemoth
  
  lowergreatstairway: buriedchamber # you can get here quicker without going through buried chamber with the suspend glitch, but that doesn't require any fewer items.
  bosskeremet: lowergreatstairway
  greatstairway: lowergreatstairway & medium height | upperentrance
  uppergreatstairway: greatstairway & medium height
  
  sandygrave: bosskeremet & medium height | greatstairway
  sandygravemidlevel: sandygrave & medium height
  bossastarte: sandygravemidlevel
  
  nationoffools: uppergreatstairway
  bosslegion: nationoffools
  
  forestofdoom: towerofdeathwaterwheel & bossstella & wind
  forestofdoomcenter: forestofdoom & height
  forestofdoomeast: forestofdoomcenter & medium height
  bossdagon: forestofdoomeast
  
  towerofdeathstart: greatstairway & partnerpush & strength cube | towerofdeathelevator
  bossstella: towerofdeathstart
  towerofdeatheast: towerofdeathstart & small | bossdeath
  towerofdeatheastupper: towerofdeatheast & medium height
  towerofdeathwaterwheel: bossstella & cog & call cube & change cube | uppergreatstairway & small | towerofdeathelevator
  towerofdeathelevator: bossdeath | towerofdeathwaterwheel
  bossdeath: towerofdeatheastupper | towerofdeathelevator & big height
  
  masterkeep: bossdeath
  midmasterkeep: masterkeep & medium height
  bosssisters: midmasterkeep
  
  studiopaintingroom: bosssisters & purify
  
  13thstreet: studiopaintingroom & bossmummy
  13thstreetaftertrain: 13thstreet & partnerpush & strength cube | 13thstreet & telesuper
  bosswerewolf: 13thstreetaftertrain
  
  forgottencity: studiopaintingroom
  innerforgottencity: forgottencity & medium height
  bossmummy: innerforgottencity
  
  burntparadise: studiopaintingroom & bosscreature
  bossmedusa: burntparadise
  
  darkacademy: studiopaintingroom
  middarkacademy: darkacademy & big height
  bosscreature: middarkacademy
  
  nestofevil: cityofhaze & sandygrave & nationoffools & forestofdoom & 13thstreet & forgottencity & burntparadise & darkacademy
  bossdoppelganger: nestofevil
  
  lostgallery: bosswerewolf & bossmummy & bossmedusa & bosscreature
  
  throneroom: lostgallery
  
  beat game: throneroom

Rooms:
#Dracula's Castle:
#Entrance:
  00-00-01:
    room: 
    #01 (Change Cube): # Don't randomize change cube
    #02 (Call Cube): # Don't randomize call cube
    03 (ALL Boost): quad jump height # you can get this with just the double jump glitch, but ONLY if the drawbridge is down.
  00-00-08:
    room: entrance & height
    01 (Spear): 
  00-00-09:
    room: bossbehemoth
    #02 (Behemoth) (Enemy): 
  00-00-0D:
    room: bossbehemoth
    00 (Combat Knife): 
  00-01-02:
    room: midentrance
    00 (Book of Spirits): 
  00-01-03:
    room: midentrance
    00 (Head Guard): 
    01 (Magus Ring): 
  00-01-04:
    room: entrance
    00 (Short Sword): 
    01 (Tome of Arms 1): 
    07 (Beef Jerky) (Hidden): 
  00-01-07:
    room: entrance
    2A (Beef Jerky): 
  00-01-0A:
    room: upperentrance
    00 (Laurel Brooch): 
  00-01-0C:
    room: entrance
    00 (Wait Cube): 
    01 (Raging Fire): midentrance
  00-01-0F:
    room: entrance
    00 (Whip Skill 1): height
    01 (Knife): 
  00-01-10:
    room: upperentrance
    00 (MP Max up): 
  00-01-12:
    room: upperentrance & partnerpush & strength cube & medium height | quad jump height
    00 (Nebula): 
  00-01-17:
    room: upperentrance
    00 (Knee Strike): 
#Buried Chamber:
  00-02-00:
    room: buriedchamber
    00 (Offensive Form): 
  00-02-02:
    room: buriedchamber
    00 (Anti-Venom): 
  00-02-08:
    room: buriedchamber
    00 (Cestus): 
  00-02-0A:
    room: buriedchamber & slide # to destroy the breakable floor here you either need a down-attacking weapon or slide.
    00 (HP Max up): 
  00-02-11:
    room: buriedchamber & slide # to destroy the breakable floor here you either need a down-attacking weapon or slide.
    00 (MP Max up): 
  00-02-14:
    room: buriedchamber
    01 (Boiled Starfish) (Hidden): 
  00-02-17:
    room: buriedchamber
    00 (Ice Fang): 
  00-02-18:
    room: buriedchamber
    00 (Potion): 
  00-02-1A:
    room: buriedchamber
    00 (Bandana): 
  00-02-1B:
    room: buriedchamber
    00 (Copper Plate): 
#Great Stairway:
  00-03-07:
    room: lowergreatstairway
    00 (Don Quixote): 
  00-04-04:
    room: greatstairway
    00 (MIND Boost): 
  00-04-07:
    room: greatstairway
    00 (Goggles): 
  00-04-08:
    room: greatstairway
    00 (Axe Bomber): 
  00-04-0A:
    room: bosskeremet
    #02 (Keremet) (Enemy): 
  00-04-0B:
    room: lowergreatstairway
    00 (Stone of Flight): 
    01 (Partisan): greatstairway | medium height
  00-04-0D:
    room: greatstairway
    07 (Nun's Habit): 
    08 (Iron Leggings): 
    09 (Bathrobe) (Hidden): 
  00-05-02:
    room: greatstairway
    0F (HP Max up): 
    10 (Jade Corset): medium height
    11 (Uncurse Potion): medium height
    12 (Monocle): medium height
  00-05-04:
    room: greatstairway
    0F (STR Boost): small height
    10 (Tonic): medium height
    11 (Potion): medium height
    12 (Poncho): medium height
    13 (Tome of Arms 2): 
  00-06-03:
    room: upperentrance & medium height | greatstairway & medium height
    00 (Nun's Robes): 
    01 (MP Max up): 
  00-06-05:
    room: upperentrance | greatstairway
    00 (Whip Knuckles): quad jump height
    01 (Iron Plate): medium height
  00-06-09:
    room: upperentrance & medium height | greatstairway & medium height
    00 (Sequined Dress): 
  00-06-0C:
    room: upperentrance & medium height | greatstairway & medium height | towerofdeathwaterwheel
    01 (Money): small
    02 (Money): small
#Tower of Death:
  00-07-00:
    room: bossdeath
    00 (INT Boost): 
  00-07-01:
    room: towerofdeathelevator
    00 (Combat Beret): bossdeath
    01 (Open Veil): bossdeath & height # height to get out of the pit
    02 (Aura Blast): big height
  00-07-02:
    room: bossdeath
    #03 (Death) (Enemy):
  00-07-05:
    room: towerofdeatheastupper
    00 (Blue Cape): 
  00-07-08:
    room: towerofdeatheastupper
    00 (Rose Stem Whip): 
  00-07-0B:
    room: towerofdeatheastupper
    05 (MP Max up) (Hidden): 
  00-07-0C:
    room: towerofdeatheast
    00 (HP Max up): medium height
    01 (Thunderbolt): medium height
  00-07-0D:
    room: towerofdeathelevator & medium height
    00 (HP Max up): 
  00-07-10:
    room: towerofdeathstart
    00 (Tempest): # doesn't require anything to reach, but you can't get out without medium height 2. but you can just suspend to get out, so no req.
  00-07-16:
    room: towerofdeathstart
    00 (Tasty Meat) (Hidden): 
  00-08-00:
    room: towerofdeathwaterwheel
    00 (Taunt): 
  00-08-02:
    room: towerofdeathwaterwheel
    00 (Halberd): 
  00-08-06:
    room: towerofdeathwaterwheel
    00 (Viking Helmet): 
  00-08-0D:
    room: bossstella & cog & medium height 2
    00 (Slick Boots): 
#The Throne Room:
  00-09-00:
    room: throneroom & quad jump height
    00 (Speed Up): 
    01 (Robe Decollete): 
  00-09-03:
    room: throneroom
    00 (HP Max up): medium height
    01 (MP Max up): quad jump height
    02 (Money): quad jump height
    03 (Foie Gras) (Hidden): quad jump height
#Master's Keep:
  00-0A-08:
    room: midmasterkeep
    00 (MP Max up): 
  00-0A-0B:
    room: midmasterkeep
    03 (Piercing Beam): 
  00-0A-13:
    room: masterkeep
    03 (HP Max up): slide | small height # only needed to escape
  00-0B-01:
    room: bosssisters
    #0E (Sisters) (Enemy): 
#City of Haze:
  01-00-02:
    room: cityofhaze
    00 (Clover Tiara): 
  01-00-03:
    room: cityofhaze
    01 (Kirtle): 
  01-00-04:
    room: cityofhaze
    07 (Leather Cuirass): 
  01-00-07:
    room: cityofhaze
    00 (White Corsage): 
  01-00-09:
    room: cityofhaze
    00 (Leather Corset): 
  01-00-0C:
    room: cityofhaze
    00 (Claymore): 
  01-00-0E:
    room: cityofhaze
    00 (Cream Pie): 
    01 (Green Tea Cake): 
  01-00-0F:
    room: cityofhaze
    00 (Paper Airplane): 
  01-00-10:
    room: cityofhaze
    00 (Rush): 
  01-00-11:
    room: cityofhaze
    00 (Sandals): 
  01-00-14:
    room: cityofhaze
    00 (Potion): 
    01 (Leather Whip): 
  01-00-18:
    room: cityofhaze
    00 (Enamel Pinheels): 
  01-00-19:
    room: cityofhaze
    00 (Holy Lightning): 
  01-01-03:
    room: cityofhaze
    00 (Money): 
  01-01-06:
    room: midcityofhaze
    00 (Skill Cube): 
  01-01-08:
    room: midcityofhaze
    00 (Gale Force): 
    01 (Mace): 
  01-01-09:
    room: endcityofhaze
    02 (Push Cube): 
  01-01-0B:
    room: endcityofhaze
    00 (CON Boost): 
  01-01-0C:
    room: midcityofhaze & quad jump height
    00 (Healing Mail): 
    01 (Sachertorte): 
  01-02-01:
    room: endcityofhaze
    00 (Velvet Ribbon): small height
    01 (Long Sword): small height
  01-02-04:
    room: endcityofhaze
    00 (Moonwalkers): 
  01-02-05:
    room: endcityofhaze
    00 (Axe): 
  01-02-07:
    room: endcityofhaze
    00 (Milican's Sword): small
    01 (Thick Glasses): 
  01-02-08:
    room: endcityofhaze
    00 (Cape): small height
  01-02-09:
    room: endcityofhaze
    00 (Tuxedo Coat): 
  01-02-0A:
    room: endcityofhaze
    02 (Acrobat Cube): 
  01-02-0B:
    room: bossdullahan
    #02 (Dullahan) (Enemy): 
  01-02-11:
    room: midcityofhaze
    00 (Nun's Shoes): 
  01-02-12:
    room: midcityofhaze
    00 (Money): 
  01-02-14:
    room: midcityofhaze
    00 (Houppelande): 
#13th Street:
  02-00-02:
    room: 13thstreetaftertrain & quad jump height
    00 (Kugelhopf): 
    01 (Shogun Helmet): 
  02-01-01:
    room: 13thstreetaftertrain
    00 (Assassin's Cape): 
  02-01-02:
    room: 13thstreetaftertrain
    00 (Gateau Marron): 
  02-01-04:
    room: 13thstreetaftertrain & partnerpush | 13thstreetaftertrain & strength cube
    00 (Gateau Fraise): 
    01 (Wheat Roll): 
    02 (Langues de Chat): 
  02-01-06:
    room: 13thstreetaftertrain & partnerpush | 13thstreetaftertrain & strength cube
    00 (HP Max up): 
  02-01-0A:
    room: 13thstreetaftertrain
    00 (Super Potion): 
  02-01-13:
    room: 13thstreetaftertrain
    00 (Samurai Leggngs): 
  02-02-01:
    room: 13thstreetaftertrain
    00 (Money): medium height
    01 (Mille-feuille): medium height
  02-02-03:
    room: 13thstreetaftertrain
    02 (HP Max up): 
  02-02-08:
    room: 13thstreetaftertrain & medium height & small
    00 (Wedding Dress): 
  02-02-09:
    room: 13thstreetaftertrain
    00 (Shaman Ring): 
  02-02-0F:
    room: 13thstreetaftertrain & height # height needed to escape
    00 (MP Max up): 
  02-02-12:
    room: 13thstreetaftertrain & height # height needed to escape
    00 (Steel Greaves): 
  02-02-13:
    room: 13thstreetaftertrain & height # height needed to escape
    00 (Winged Boots): 
  02-02-14:
    room: bosswerewolf
    #00 (Werewolf) (Enemy): 
#Sandy Grave:
  03-00-05:
    room: sandygrave
    00 (Steel Whip): 
    01 (Kaiser Knuckles): quad jump height
  03-00-07:
    room: sandygravemidlevel
    00 (Steel Ball): 
    01 (High Potion): 
  03-00-09:
    room: sandygravemidlevel
    00 (Strength Glove): bossastarte
  03-00-0C:
    room: bossastarte
    #02 (Astarte) (Enemy): 
  03-00-11:
    room: sandygravemidlevel
    00 (Uncurse Potion): 
  03-00-12:
    room: sandygravemidlevel
    00 (High Tonic): 
  03-00-13:
    room: sandygravemidlevel
    00 (Charm Necklace): 
    01 (Charm Necklace): 
    02 (Glamorous Pumps): 
  03-00-14:
    room: sandygrave
    00 (Bwaka Knife): jumpglitch | medium height 2
  03-00-16:
    room: sandygrave
    00 (Bahg Nahk): 
  03-00-18:
    room: sandygrave
    00 (HP Max up): 
  03-01-03:
    room: sandygravemidlevel
    00 (Crystal Necklet): 
    01 (Pumpkin Pie): 
    02 (Royal Sandals): 
  03-01-11:
    room: sandygrave
    00 (Money): small height
    01 (Clear Skies): small height
  03-01-16:
    room: sandygrave
    00 (Money): 
    01 (Diamond Brooch): 
  03-01-18:
    room: sandygrave
    00 (1,000 Blades): medium height
    01 (Money): medium height
  03-01-1B:
    room: sandygrave
    00 (High Potion): medium height
  03-01-1C:
    room: sandygrave
    00 (Sanctuary): small
    01 (Lorica): quad jump height
  03-01-1D:
    room: sandygrave
    00 (MP Max up): 
#Forgotten City:
  04-00-02:
    room: forgottencity
    00 (Eye for an Eye): 
  04-00-05:
    room: forgottencity
    00 (Griffon Wing): quad jump height
  04-00-09:
    room: forgottencity
    00 (Attica Helmet): # you can get out of here by going down to the lower warp point and warping out
  04-00-11:
    room: forgottencity
    00 (Super Tonic): height # needed to get out
  04-00-12:
    room: forgottencity & height # height needed to get out of the room
    00 (Curry): small height # small height needed to get out of the pit with the item in it
  04-00-13:
    room: forgottencity
    00 (Super Potion): medium height
  04-00-14:
    room: innerforgottencity
    00 (Money): 
  04-01-03:
    room: innerforgottencity
    00 (HP Max up): big height
    01 (MP Max up): big height
  04-01-05:
    room: bossmummy
    00 (Holy Mail): 
  04-01-08:
    room: bossmummy
    #00 (Mummy Man) (Enemy): 
  04-01-10:
    room: forgottencity
    00 (Princess Tiara): 
  04-01-11:
    room: innerforgottencity
    00 (MP Max up): 
  04-01-15:
    room: forgottencity
    00 (Book of Death): quad jump height
    01 (Meteor): small
  04-01-18:
    room: innerforgottencity
    00 (Venus Brooch): 
    01 (Money): 
  04-01-22:
    room: forgottencity
    00 (Platinum Corset): 
#Nation of Fools: # you need medium height to even get into the nation of fools portrait
  05-00-01:
    room: nationoffools
    00 (MP Max up): 
  05-00-08:
    room: nationoffools
    00 (Volcano): 
  05-00-0B:
    room: nationoffools
    00 (Touch & Pop): 
  05-00-0F:
    room: nationoffools
    00 (Money): 
  05-00-10:
    room: nationoffools
    00 (Tonic): 
  05-00-13:
    room: nationoffools
    00 (MP Max up): 
  05-00-14:
    room: nationoffools
    00 (HP Max up): 
  05-00-1A:
    room: nationoffools
    00 (Money): 
  05-00-27:
    room: nationoffools
    00 (Moon Brooch): 
  05-00-2B:
    room: nationoffools
    00 (HP Max up): 
  05-01-00:
    room: nationoffools
    02 (Holy Veil): small
  05-01-02:
    room: nationoffools
    00 (High Tonic): 
    01 (Caviar) (Hidden): 
    02 (Spiked Boots): 
  05-01-06:
    room: nationoffools
    00 (High Potion): 
  05-01-07:
    room: nationoffools
    06 (Silk Hat): 
    07 (Dancer's Blouse): 
  05-01-0D:
    room: nationoffools
    06 (Grenade): 
  05-01-0E:
    room: nationoffools
    06 (Battle Jacket): 
  05-01-13:
    room: nationoffools
    00 (Corn Soup): 
  05-01-14:
    room: nationoffools
    05 (Rotten Durian): 
  05-02-04:
    room: nationoffools
    00 (Critical Art): 
  05-02-0A:
    room: nationoffools
    00 (Spaghetti): 
  05-02-0B:
    room: nationoffools
    00 (Pasta Carbonara): 
  05-02-0C:
    room: nationoffools
    01 (Cog): bosslegion
    #02 (Legion) (Enemy): bosslegion
#Burnt Paradise: # you need big height to get into burnt paradise (because dark academy is a requirement)
  06-00-01:
    room: bossmedusa
    00 (Jet Black Whip): 
  06-00-05:
    room: bossmedusa
    #03 (Medusa) (Enemy): 
  06-00-08:
    room: burntparadise
    04 (Truffle) (Hidden): 
  06-00-0E:
    room: burntparadise
    00 (MP Max up): 
  06-00-14:
    room: burntparadise
    03 (HP Max up): 
  06-00-27:
    room: burntparadise
    02 (HP Max up): 
  06-00-2B:
    room: burntparadise
    00 (MP Max up): 
  06-01-00:
    room: burntparadise
    00 (Super Tonic): 
  06-01-01:
    room: burntparadise
    00 (Ice Cream): small
  06-01-02:
    room: burntparadise
    07 (Engagement Ring): 
  06-01-06:
    room: burntparadise
    06 (Cure Poison): 
  06-01-07:
    room: burntparadise
    09 (Bakatwa): 
    0A (Gold Leggings): 
  06-01-08:
    room: burntparadise
    08 (Artemis Shoes): 
  06-01-0D:
    room: burntparadise
    02 (Great Axe): 
    03 (Spoiled Milk): 
  06-01-0E:
    room: burntparadise
    00 (Tinned Spinach): 
  06-01-13:
    room: burntparadise
    09 (Tome of Arms 3): 
  06-01-14:
    room: burntparadise
    00 (Financier): 
#Forest of Doom:
  07-00-0B:
    room: forestofdoomeast
    00 (Rusty Food Tin) (Hidden): 
  07-00-0E:
    room: bossdagon
    #02 (Dagon) (Enemy): 
  07-00-0F:
    room: bossdagon
    00 (Toad Morph): 
  07-01-03:
    room: forestofdoomcenter
    00 (Tristan&Isolde): 
  07-01-04:
    room: forestofdoomcenter
    00 (MP Max up): 
  07-01-07:
    room: forestofdoomcenter
    00 (Moldy Bread): 
  07-01-0C:
    room: forestofdoomcenter
    00 (Cream Puff) (Hidden): 
  07-01-14:
    room: forestofdoomcenter
    00 (HP Max up): 
  07-02-00:
    room: forestofdoomcenter
    00 (Silver Leggings): 
  07-02-0B:
    room: forestofdoomcenter
    00 (Silver Plate): 
  07-02-0F:
    room: forestofdoomcenter & quad jump height
    00 (Dark Gate): 
  07-02-11:
    room: forestofdoomcenter
    00 (Stonewall): forestofdoomeast
    01 (Amethyst Corset): 
#Dark Academy:
  08-00-01:
    room: middarkacademy
    01 (New York Steak) (Hidden): 
  08-00-02:
    room: middarkacademy
    00 (Money): 
    01 (Noodle Bun): 
  08-00-04:
    room: bosscreature
    #00 (The Creature) (Enemy): 
  08-02-03:
    room: middarkacademy
    00 (MP Max up): 
  08-02-09:
    room: middarkacademy
    00 (Powdered Milk) (Hidden): 
  08-02-0F:
    room: middarkacademy
    00 (Mercury Boots): 
  08-02-11:
    room: middarkacademy
    00 (Divine Storm): 
  08-02-14:
    room: middarkacademy
    00 (HP Max up): 
  08-02-15:
    room: middarkacademy
    00 (Noodle Bun): 
  08-02-19:
    room: darkacademy
    00 (Flame Whip): middarkacademy
  08-03-03:
    room: darkacademy & height
    00 (Gold Plate): 
  08-03-04:
    room: darkacademy & small height
    00 (Owl Morph): 
#Nest of Evil:
  09-00-1A:
    room: nestofevil
    00 (Tome of Arms p1): 
  09-00-36:
    room: nestofevil
    00 (Tome of Arms p2): 
  09-00-3D:
    room: bossdoppelganger
    #03 (Doppelganger) (Enemy): 
  09-00-3E:
    room: bossdoppelganger
    00 (Greatest Five): 
